@charset "ISO-8859-1";
body{
background-image:url("https://www.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg");
background-repeat:no-repeat;
background-size:100%;
}
div{
padding:150px;
}
h1{
position:relative;
font-family:sens-serif;
text-transform:uppercase;
font-size:2em;
letter-spacing:4px;
overflow:hidden;
background:linear-gradient(90deg,#ff8c00,#fff,#ff8c00);
background-repeat:no-repeat;
background-size:80%;
animation:animate  10s 2s linear infinite;
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
}
@keyframes animate{
0%{
background-position:-500%;
}
100%{
background-position:500%;
}
}
i{
color:#ffffe0;
position:relative;
font-family:sens-serif;
text-transform:uppercase;
font-size:25px;
background-repeat:no-repeat;
background-size:60%;
overflow:hidden;
padding:15px;
margin:20px;
letter-spacing:2px;
}
a{
color:#ffff00;
font-size:20px;
text-decoration:none;
background-repeat:no-repeat;
font-family:sens-serif;
}
b{
color:red;
}